.product-detail .product-content .quantity .zxy input {
    font-weight: bold;
    font-size: 16px;
    padding: 1px;
    width: 150px;
    background: #c6b3b3;
    position: relative;
    overflow: hidden;
}
