
.product-item .product-price .pross{
    color: rgb(247, 243, 243); 
    text-decoration: line-through;
}

.product-item .hot-label {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #FF6F61;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}


