{%extends "base.html"%}

{% block content %}

<title>Error In Sending Token | NSU Cafeteria</title>
   
<div class="global-container">
    <div class="card login-form">
    <div class="card-body">
        <h3 class="card-title text-center" id="err">ERROR!!</h3>
        <div class="card-text text-center">
            <p>The Link has expired</p>
            <p  class="card-title text-center">  <a class="btn btn-outline-danger" href="/signup" >Go Back</a> </p>

        </div>
    </div>
</div>
</div>


{% endblock %}