<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Tag | NSU Cafeteria</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="eCommerce HTML Template Free Download" name="keywords">
        <meta content="eCommerce HTML Template Free Download" name="description">

    
        <link href="img/favicon.ico" rel="icon">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'lib/slick/slick.css' %}" rel="stylesheet">
        <link href="{% static 'lib/slick/slick-theme.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/style2.css' %}" rel="stylesheet">
        <link href="{% static 'css/style3.css' %}" rel="stylesheet">
        <link href="{% static 'css/customline.css' %}" rel="stylesheet">



    </head>

    <body>
        <!-- Top bar Start -->
        <div class="top-bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <i class="fa fa-envelope"></i>
                        cafensuquery@gmail.com
                    </div>
                    <div class="col-sm-6">
                        <i class="fa fa-phone-alt"></i>
                        +880-2-55668200
                    </div>
                </div>
            </div>
        </div>
        <!-- Top bar End -->
        
        <!-- Nav Bar Start -->
        <div class="nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            <a href="{% url 'index' %}" class="nav-item nav-link">Home</a>
                            <a href="{% url 'items' %}" class="nav-item nav-link active">Items</a>
                            <!-- <a href="product-detail.html" class="nav-item nav-link">Product Detail</a> --> 
                            <a href="" class="nav-item nav-link">Cart</a>
                            <a href="" class="nav-item nav-link">Checkout</a>
                            <a href="" class="nav-item nav-link">My Account</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Categories</a>
                                <div class="dropdown-menu">

                                    <a href="{% url 'category' %}" class="dropdown-item">Show All</a>

                                    {% for c in categories %}

                                    <a href="{% url 'app1:catlist' c.cid %}" class="dropdown-item"> {{ c.title }} </a>

                                    {% endfor %}
                                </div>
                            </div>
                            <div class="nav-item dropdown">
                                <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Vendors</a>
                                <div class="dropdown-menu">

                                    <a href="{% url 'app1:vendor-list' %}" class="dropdown-item">Show All</a>

                                    {% for v in vendors %}

                                    <a href="{% url 'app1:vendor-detail' v.vid %}" class="dropdown-item"> {{ v.title }} </a>

                                    {% endfor %}
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="navbar-nav ml-auto">
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">User Account</a>
                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item">Login</a>
                                    <a href="#" class="dropdown-item">Register</a>
                                    <a href="#" class="dropdown-item">Contact Us</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Nav Bar End -->      
        
        <!-- Bottom Bar Start -->
        <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="index.html">
                                <img src="{% static 'img/loogoo.gif' %}" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="search">
                            <form action="{% url 'app1:search' %}" method="GET">
                                
                                <input type="text" placeholder="Search for items..." name="q" class="flexible-input"/>
                          
                            <button><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="user">
                            <a href="wishlist.html" class="btn wishlist">
                                <i class="fa fa-heart"></i>
                                <span>(0)</span>
                            </a>
                            <a href="cart.html" class="btn cart">
                                <i class="fa fa-shopping-cart cart-items-count"></i>
                                <span>  ({{ request.session.cart_data_obj|length }})  </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Bar End -->  
        
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'items' %}"> Item </a></li>
                    <li class="breadcrumb-item active"> {{ tag.name }} </li>
                </ul>
            </div>
        </div>
    
        
        <!-- Product List -->
        <div class="product-view">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="product-view-top">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="product-search">
                                                <form action="{% url 'app1:search' %}" method="GET">
                                                    <input type="text" placeholder="Search for items..." name="q" />
                                                     <button><i class="fa fa-search"></i></button>

                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="product-short">
                                                <div class="dropdown">
                                                    <div class="dropdown-toggle" data-toggle="dropdown">Item short by</div>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a href="#" class="dropdown-item">New arrival</a>
                                                        <a href="#" class="dropdown-item">Popular</a>
                                                        <a href="#" class="dropdown-item">Most salling</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="product-price-range">
                                                <div class="dropdown">
                                                    <div class="dropdown-toggle" data-toggle="dropdown">price range</div>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a href="#" class="dropdown-item">0/- to 50/-</a>
                                                        <a href="#" class="dropdown-item">50/- to 100/-</a>
                                                        <a href="#" class="dropdown-item">100/- to 200/-</a>
                                                        <a href="#" class="dropdown-item">200/- to 350/-</a>
                                                        <a href="#" class="dropdown-item">350/- to 500/-</a>                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 text-center" >
                                <h2> 
                                   
                                    #{{ tag.name }} 
                                </h2>
                                <h5>We have <strong><span style="color: #FF6F61;">{{ products.count }} item{{ products.count|pluralize }}</span></strong> for you.</h5>
                                <hr class="custom-line"/> <!-- Add the horizontal line here -->
                            </div>

                           {% for p in products %}
                            <div class="col-md-4">
                                <div class="product-item">
                                    <div class="hot-label">
                                        {% if p.get_percentage|floatformat:0|add:0 > 0 %}
                                            +{{ p.get_percentage | floatformat:0}}%
                                        {% else %}
                                             {{ p.get_percentage | floatformat:0 }}%
                                        {% endif %}
                                    </div>
                                                                        
                                    <div class="product-title">
                                        <p style="color: white;">{{ p.category.title }}</p>
                                        <a href="{% url 'app1:product-detail' p.pid %}"> {{ p.title }} </a>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>

                                    <div class="product-image">
                                        <a href="{% url 'app1:product-detail' p.pid %}">
                                            <img src="{{ p.image.url }}" alt="Product Image">
                                        </a>
                                        <div class="product-action">
                                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                            <a href="{% url 'app1:product-detail' p.pid %}"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    
                                    <div class="product-price">
                                        <h3 class="current-product-price-{{p.id}}"> {{ p.price }} </h3>
                                        <span style="color: white;">/-</span>
                                        <p class="pross"> {{ p.old_price }} <span>/-</span></p>

                                        <input type="hidden" value="1" name="" id="product-quantity" class="product-quantity-{{p.id}}" >
                                        <input type="hidden" value="{{p.pid}}" name="" id="" class="product-pid-{{p.id}}" >
                                        <input type="hidden" value="{{p.image.url}}" id="" class="product-image-{{p.id}}" >
                                        <input type="hidden" value="{{p.id}}" id="" class="product-id-{{p.id}}" >
                                        <input type="hidden" value="{{p.title}}" name="" id="" class="product-title-{{p.id}}" >


                                        <button class="btn add-to-cart-btn" data-index="{{p.id}}" id="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Buy Now</button>                          
                                        <p style="color: #FF6F61;">By: {{ p.vendor.title }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %} 
                        </div>
                        
                        
                        <div class="col-md-12">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        
                    </div>           
                    
                    <!-- Side Bar-->
                    <div class="col-lg-4 sidebar">
                        <div class="sidebar-widget category">
                            <h2 class="title"><a href="{% url 'category' %}">Categories</a></h2>
                            <nav class="navbar bg-light">
                                <ul class="navbar-nav">
                                    {% for c in categories %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="">
                                            <div style="display: flex; align-items: center;">
                                                <img src="{{ c.image.url }}" width="50" height="50" style="border-radius: 50%; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); margin-right: 10px; vertical-align: middle;">
                                                <a href="{% url 'app1:catlist' c.cid %}">
                                                    <span style="margin-right: auto; font-weight: bold;">{{ c.title }}</span>
                                                </a>
                                                <span style="color: #888; margin-left: auto; ">{{ c.category.count }}</span>
                                            </div>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                
                                
                            </nav>
                        </div>
                        
                        
                        <div class="sidebar-widget widget-slider">
                            <div class="sidebar-slider normal-slider">
                                <!-- from -->
                             {% for p in products %} 
                             <div class="product-item">
                                <div class="hot-label">
                                    {% if p.get_percentage|floatformat:0|add:0 > 0 %}
                                        +{{ p.get_percentage | floatformat:0}}%
                                    {% else %}
                                         {{ p.get_percentage | floatformat:0 }}%
                                    {% endif %}
                                </div>
                                                                    
                                <div class="product-title">
                                    <p style="color: white;">{{ p.category.title }}</p>
                                    <a href="#"> {{ p.title }} </a>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>

                                <div class="product-image">
                                    <a href="product-detail.html">
                                        <img src="{{ p.image.url }}" alt="Product Image">
                                    </a>
                                    <div class="product-action">
                                        <a href="#"><i class="fa fa-cart-plus"></i></a>
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                        <a href="{% url 'app1:product-detail' p.pid %}"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                                
                                <div class="product-price">
                                    
                                    <input type="hidden" value="1" name="" id="product-quantity" class="product-quantity-{{p.id}}" >
                                    <input type="hidden" value="{{p.pid}}" name="" id="" class="product-pid-{{p.id}}" >
                                    <input type="hidden" value="{{p.image.url}}" id="" class="product-image-{{p.id}}" >
                                    <input type="hidden" value="{{p.id}}" id="" class="product-id-{{p.id}}" >
                                    <input type="hidden" value="{{p.title}}" name="" id="" class="product-title-{{p.id}}" >


                                    <button class="btn add-to-cart-btn" data-index="{{p.id}}" id="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Buy Now</button>                          
                                    <p style="color: #FF6F61;">By: {{ p.vendor.title }}</p>
                                </div>
                            </div>
                                {% endfor %}
                            </div>

                        </div>
                        <!-- here -->
                        
                        <div class="sidebar-widget category">
                            <h2 class="title"><a href="{% url 'app1:vendor-list' %}">Vendors</a></h2>
                            <nav class="navbar bg-light">
                                <ul class="navbar-nav">
                                    {% for v in vendors %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="">
                                            <div style="display: flex; align-items: center;">
                                                <img src="{{ v.image.url }}" width="50" height="50" style="border-radius: 50%; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); margin-right: 10px; vertical-align: middle;">
                                                <a href="{% url 'app1:vendor-detail' v.vid %}">
                                                    <span style="margin-right: auto; font-weight: bold;">{{ v.title }}</span>
                                                </a>
                                                <span style="color: #888; margin-left: auto; ">{{ v.product.all.count }}</span>
                                            </div>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                
                                
                            </nav>
                        </div>
                        
                        <div class="sidebar-widget tag">
                            <h2 class="title">Tags Cloud</h2>

                              <a class="nav-link" href="{% url 'popular' %}"><i class="fas fa-star"></i> Most Popular</a>
                              
                              {% for tag in all_tags %}
                                    <a href="{% url 'app1:tags' tag.slug %}" rel="tag">{{ tag.name }}</a>
                              {% endfor %}
                             
                              
                        </div>
                    </div>
                    <!-- Side Bar End -->
                </div>
            </div>
        </div>
        <!-- Product List End -->  
        <!-- vendors-->
        <div class="brand">
            <div class="container-fluid">
                <div class="brand-slider">
                    <div class="brand-item"><img src="{% static 'img/royal.jpg' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static 'img/kashundi.jpg' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static 'img/cafez.jpg' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static 'img/green.jpeg' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static 'img/elite.jpg' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static 'img/green.jpeg' %}" alt=""></div>
                </div>
            </div>
        </div>
        <!-- vendors end -->
        
        <!-- Footer Start -->
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h2>Get in Touch</h2>
                            <div class="contact-info">
                                <p><i class="fa fa-map-marker"></i>Plot # 15, Dhaka 1229, Block B, Bashundhara</p>
                                <p><i class="fa fa-envelope"></i>cafensuquery@gmail.com</p>
                                <p><i class="fa fa-phone"></i>+880-2-55668200</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h2>Follow Us</h2>
                            <div class="contact-info">
                                <div class="social">
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h2>Info</h2>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Condition</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h2>Purchase Info</h2>
                            <ul>
                                <li><a href="#">Pyament Policy</a></li>
                                <li><a href="#">Shipping Policy</a></li>
                                <li><a href="#">Return Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="row payment align-items-center">
                    <div class="col-md-6">
                        <div class="payment-method">
                            <h2>We Accept:</h2>
                            <img src="{% static 'img/bkash-nagad-rocket.png' %}" alt="Payment Method" />
                        </div>
                    </div>
                    <div class="col-md-6">
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->   
        

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'lib/slick/slick.min.js' %}"></script>
        
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/function.js' %}"></script>

    </body>
</html>
